<div class="box_rules" title="可用的公共试题!" >
  <div class="box_rules_left">
    <div><%= image_tag rule.user.face.url(:s48) %></div>
    <div><%= rule.user.name %></div></div>
  <div class="box_rules_right">
<div class="box_rules_right_title"><%= rule.title %></div>
  <div class="box_rules_right_categories">
    有效期：<%= format_datetime(rule.end_time) %>[<%= rule.limit_time %>分钟题]
        <div>
          源于分类:<%  rule.user_categories.each do |rc| %>
               [<%= rc.title  %>]
              <% end %>
  </div>
    <div><p>说明：<%= rule.description.truncate(100) %></p></div>
  </div><div class="clearfloat"></div>
 <div class="box_record_button">
    <%= link_to "查看", {:action => "new_event", :controller => "rules", :id => rule}, :class =>"div_button" %>
 </div>
  </div>
  <div class="clearfloat"></div>
</div>

